.buttons {
	padding-top: 20px;
}

.button {
	position: relative;
	vertical-align: top;
	width: auto;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

.download {
	background: #e91e63;
	border-bottom: 2px solid #bd1850;
	-webkit-box-shadow: inset 0 -2px #bd1850;
	box-shadow: inset 0 -2px #bd1850;
}

.github {
	background: #3498db;
	border-bottom: 2px solid #2a8bcc;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
}

.button:hover {
	color: white;
	text-decoration: none;
}

.button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}