.buttons {
	padding-top: 20px;
}

.button {
	position: relative;
	vertical-align: top;
	width: auto;
	height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

.register {
	background: #e91e63;
	border-bottom: 2px solid #bd1850;
	-webkit-box-shadow: inset 0 -2px #bd1850;
	box-shadow: inset 0 -2px #bd1850;
}

.login {
	background: #3498db;
	border-bottom: 2px solid #2a8bcc;
	-webkit-box-shadow: inset 0 -2px #2a8bcc;
	box-shadow: inset 0 -2px #2a8bcc;
}

.button:hover {
	color: white;
	text-decoration: none;
}

.button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.banner {
	width: 100%;
	height: 100%;
}

.banner-bg {
	background-size: cover;
	background-image: url('../img/albums.jpg');
	height: 400px;
	padding: 25px;
	box-shadow: 0px 400px rgba(73, 73, 73, 0.6) inset;
}

.banner-text {
	padding-top: 15px;
	text-align: center;
}

.banner-title {
	font-family: 'Lobster', cursive; 
	color: #f2f2f2; 
	font-size: 128px;
}

.banner-subtitle {
	color: #f2f2f2; 
	font-size:
	 28px; font-weight: 300;
}

@media (max-width: 480px) {
	.banner-title {
		font-size: 84px;
	}
}