.music-services {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.music-service {
  background-size: cover;
  padding: 20px 5%;
}
@media only screen and (min-width: 768px) {
  .music-service {
    padding: 20px 10%;
  }
}

.music-service-gpm {
  background-color: #FB8521;
  color: white;
}

.music-service-gpm > h1 > small {
  color: white;
}

.music-service-spotify {
  background-color: #84BD00;
  color: white;
}

.music-service-spotify > h1 > small {
  color: white;
}

.music-service-yt {
  background-color: #CD201F;
  color: white;
}

.music-service-yt > h1 > small {
  color: white;
}

main {
  padding-top: 0px;
  width: 100%;
  margin: 0;
}